{% extends 'base.html' %}


{% block content %}
<h1 class="text-center text-grey-darkest mb-4">
  PrivateBlog.co
</h1>

<div class="p-4 bg-white text-grey-darker border rounded shadow text-center">
  <p>This post can only be seen by followers of <b>@rraihansaputra</b>
  <br>
  <br>
  <p>
    Please Sign in to Twitter for us to make sure you are following their account.
  </p>
  <br>
  <p>
    <a class="underline text-blue font-bold">Sign In</a>
  </p>
</div>
<br>
<div class="p-4 bg-white text-grey-darker border rounded shadow text-center content-center">
  <p>PrivateBlog.co enables  <b>@rraihansaputra</b> to write privately to their followers.
  <br>
    <br>
  <p>
    Interested?
    <br>
    Drop in your email for a chance to be the first ones to try this, or mention us at
    <a class="underline text-blue font-bold">@privateblog_co</a>
  </p>
  <br>
  <input class="bg-white border-gray-300 rounded-lg py-2 px-4 appearance-none leading-normal" type="email" placeholder="jane@example.com">

  <button class="bg-blue text-white font-bold py-2 px-4 rounded">
    Sign Up
  </button>
</div>

<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
  Button
</button>
{% endblock content %}
