{% extends 'base.html' %}

{% block content %}
<div class="p-4 pt-2 bg-white text-grey-darker border rounded shadow">
  <h1 class="text-left text-2xl font-semibold">
  	{{post.title}}
  </h1>
  <p class="text-lg font-light mb-2">
    <i>by <a href="/{{post.author.username}}">@{{post.author.username}}</a></i> <br>
    <i>{{post.created_on}}</i>
    {% if post.author.username == user.username %}
    <br><i><a href="{{post.get_absolute_url}}edit">Edit post</a></i>
    {% endif %}
  </p>
  <div id="post-content">
    {{post.body | safe}}
  </div>
</div>

{% endblock content %}
