<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock title %}</title>
        {% load static %}
        <!--link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">-->
        <link href="{% static 'style.css' %}" rel="stylesheet">

    </head>

    <body>
    <div style="max-width: 70rem; padding: 2rem">
      {% block content %}
      {% endblock content %}
    </div>
    <!--<pre>{% filter force_escape %}{% debug %}{% endfilter %}</pre>-->
    </body>
</html>
