{% extends 'base.html' %}


{% block content %}
<h1 class="text-center text-grey-darkest mb-4">
  PrivateBlog.co
</h1>

<div class="p-4 bg-white text-grey-darker border rounded shadow text-center content-center">
  <p>PrivateBlog.co enables you to write privately to your Twitter followers.
  <br>
  <b><a href="/accounts/twitter/login">Sign In with your Twitter account</a></b> to start your blog.
  <br>
  </p>
</div>
<div style="border-top:0.05rem solid black; margin-top: 2rem;">
{% if user.is_authenticated %}
  <p>You are logged in as @{{user.username}} <br>
  <a href="/accounts/logout">Log out</a>
  </p>
{% endif %}
  Twitter: <a href="https://twitter.com/privateblog_co">@privateblog_co</a>
</div>


{% endblock content %}
